@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css or a similar global stylesheet */

/* Define base styles for smaller screens */
.card-logo-shape,
.card-logo-color {
  position: absolute;
}

/* Media queries for larger screens */
@media (min-width: 1024px) {
  .card-logo-shape-left-64 {
    left: 64px;
  }
  .card-logo-shape-left-144 {
    left: 144px;
  }
  .card-logo-shape-left-192 {
    left: 192px;
  }

  .card-logo-color-right--64 {
    right: -64px;
  }
  .card-logo-color-right-0 {
    right: 0;
  }
  .card-logo-color-right-44 {
    right: 44px;
  }
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  margin-left: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b7c4;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f3b;
}

.scrollbar-timeline {
  overflow-y: hidden;
  overflow-x: auto;
}

/* Custom scrollbar styles for scrollbar-timeline */
.scrollbar-timeline::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
.scrollbar-timeline::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 12px;
  margin: 4px;
}

/* Scrollbar Thumb */
.scrollbar-timeline::-webkit-scrollbar-thumb {
  background-color: #b4b7c4;
  border-radius: 12px;
}

/* Thumb on Hover */
.scrollbar-timeline::-webkit-scrollbar-thumb:hover {
  background-color: #292f3b;
}